fastapi
uvicorn[standard]
SQLAlchemy
SQLModel
databases[sqlite]
python-dotenv
pydantic-settings
pydantic[email]
passlib[argon2]
python-jose[cryptography]
python-multipart
rich
psycopg2-binary
asyncpg
redis
google-genai
alembic